image: docker:latest

services:
  - docker:dind

variables:
  DOCKER_TLS_CERTDIR: ""

before_script:
  - docker info

stages:
  - test

test_pipeline:
  stage: test
  script:
    - echo "CI/CD is working"