image: docker:latest

services:
  - docker:dind

variables:
  DOCKER_TLS_CERTDIR: ""

stages:
  - build
  - test
  - deploy

before_script:
  - docker info
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY


build_image:
  stage: build
  script:
    - docker build -t $CI_REGISTRY_IMAGE:latest .
    - docker push $CI_REGISTRY_IMAGE:latest


test_image:
  stage: test
  script:
    - docker run --rm $CI_REGISTRY_IMAGE:latest --version || true


deploy_image:
  stage: deploy
  script:
    - echo "Image prête pour le déploiement"