image: docker:latest

services:
  - docker:dind

variables:
  DOCKER_TLS_CERTDIR: ""

stages:
  - build
  - test


before_script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin || true
  - docker info

build_app:
  stage: build
  script:
    - docker compose build

test_app:
  stage: test
  script:
    - docker compose up -d
    - sleep 20
    - docker ps
    - docker compose down
